# Eclipse files
.project
.classpath
.settings/
bin/

# Maven/Gradle build output
target/
build/

# TestNG and Cucumber outputs
test-output/
reports/

# Selenium dependencies and logs
*.log
chromedriver.exe
geckodriver.exe
*.exe

# IDE-specific
.idea/
*.iml
*.ipr
*.iws

# OS specific
.DS_Store
Thumbs.db

# Sensitive files
*.properties
secrets/
config/local.*
